wowza
clapper_x264.mp4
wsgi.py
:2eidea
:2e_*
:2e*
*.tmpl.bak
activate
build
ENV
apache-solr-3.5.0
chlng_imgs
static
*.pyc
.AppleDouble
.idea
test.DB
uploads
cache
.DS_Store
local_settings.py
cache
Server/run/
.pydevproject
.project
.settings
whoosh_index
run
user_content
Data
logs/
Server/edepo/media
*.ipa

# Exclude the build directory
build/*
  
# Exclude temp nibs and swap files
*~.nib
*.swp
  
  
# Exclude user-specific XCode 3 and 4 files
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

